.venv
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.idea/
.vscode/
*.log
.DS_Store
*.egg-info/
dist/
build/

dataset/AmeriFlux/
dataset/WoSIS (ISRIC)/

output_skenario_d/carbon_flux_model_skenario_d.pkl